<div class="row">
    <h1>
      <mat-icon class="titulo">devices_other</mat-icon>
      <span> Mis Activos </span>
    </h1>
  </div>
  
  <div *ngIf="activosList && activosList.length > 0; else activoVacio">
      <div class="example-box" *ngFor="let activo of activosList">
        {{activo.nombre}} <span class="spacer"></span> {{activo.costo |  number:'1.2-2' }} Bs
        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  disabled="true"
                  (click)="vender(activo.uid!)">
            <mat-icon>shopping_cart</mat-icon>
            <span>Vender</span>
          </button>
          <button mat-menu-item
                  disabled="true"
                  (click)="siniestro(activo.uid!)">
            <mat-icon>edit</mat-icon>
            <span>Siniestro</span>
          </button>
        </mat-menu>   
      </div>
  </div>
  <ng-template #activoVacio class="example-list">
    <div class="example-box">
      Compre activos para ser listados...
    </div>
  </ng-template>