<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button 
                mat-icon-button
                aria-label="Menú"
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="/dashboard"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Inicio</span>
            </a>
            <a routerLink="/usuarios"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>person</mat-icon>
                <span>Usuarios</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <app-toolbar [sidenav]="sidenav"></app-toolbar>

    <div class="container mt-3">

        <router-outlet></router-outlet>

    </div>

</mat-sidenav-container>