<mat-sidenav-container fullscreen>

    <div *ngIf="loaderService.isLoader | async" class="loaderContainer">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <!-- <mat-spinner style="top: 50%; left:50%;"></mat-spinner> -->
    </div>
    <mat-sidenav #sidenav>
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button 
                mat-icon-button
                aria-label="Menú"
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="/dashboard"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Inicio</span>
            </a>
            <a routerLink="/usuarios"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>person</mat-icon>
                <span>Usuarios</span>
            </a>
            <a routerLink="/cuentas"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>credit_card</mat-icon>
                <span>Cuentas Bancarias</span>
            </a>

            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>swap_horiz</mat-icon>
                        <span>Movimientos</span>
                    </mat-expansion-panel-header>
                    
                    <a routerLink="/movimientos/"
                        mat-list-item
                        (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>description</mat-icon>
                        <span>Reportes</span>
                    </a>
                    <a routerLink="/movimientos/ingresos"
                        mat-list-item
                        (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>arrow_back_ios</mat-icon>
                        <span>Ingresos</span>
                    </a>
                    <a routerLink="/movimientos/egresos"
                        mat-list-item
                        disabled="true"
                        (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>arrow_forward_ios</mat-icon>
                        <span>Egresos</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>local_atm</mat-icon>
                        <span>Activos</span>
                    </mat-expansion-panel-header>
                    
                    <a routerLink="/activos"
                        mat-list-item
                        (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>attach_money</mat-icon>
                        <span>Mis activos</span>
                    </a>
                    <a routerLink="/activos/cotizacion"
                        mat-list-item
                        (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>store_mall_directory</mat-icon>
                        <span>Cotizaciones</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>

        </mat-nav-list>
    </mat-sidenav>

    <app-toolbar [sidenav]="sidenav"></app-toolbar>

    <div class="container mt-3">

        <router-outlet></router-outlet>

    </div>

</mat-sidenav-container>