<mat-card>  
  <form autocomplete = "off"
      [formGroup]  = "formCompra"
      (ngSubmit)   = "guardarCompra()">
        
    <mat-card-header>
      <mat-card-title>Compra</mat-card-title>
      <mat-card-subtitle>Nuevo</mat-card-subtitle>
    </mat-card-header>
    <mat-dialog-content>
    <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label>Nombre Producto</mat-label>
        <input matInput 
              [value]="activo"
              disabled="">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha Compra</mat-label>
        <input matInput
              [matDatepicker]="dp1"
              [max] = "hoy"
              formControlName = "fecha_compra">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 disabled="false"></mat-datepicker>
        <mat-error>
          Revise la fecha
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>N° de Cuenta</mat-label>
          <mat-select
            formControlName = "cuenta">
            <mat-option *ngFor="let cuenta of cuentas" 
                        [value]="cuenta.uid">
                        {{ cuenta.numero_cuenta+' | '+cuenta.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error>
              Revise el número de cuenta
          </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Lugar de compra</mat-label>
        <input matInput
              formControlName = "lugar_compra">
        <mat-error>
          Revise el Nombre
        </mat-error>
      </mat-form-field>

      </mat-card-content>
    </mat-dialog-content>

      <mat-card-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button
                color="primary"
                type="submit">Guardar</button>
      </mat-card-actions>

  </form>

</mat-card>