<mat-card class="pt-5 pb-3 mat-elevation-z8">
    
    <form autocomplete = "off"
          [formGroup]  = "formIngreso"
          (ngSubmit)   = "guardarIngreso(formDirective)"
          #formDirective="ngForm">
          
      <mat-card-header>
        <mat-card-title>Ingreso</mat-card-title>
        <mat-card-subtitle>Nuevo</mat-card-subtitle>
    </mat-card-header>
    <mat-dialog-content>
    <mat-card-content>
        
        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input matInput
                 [matDatepicker]="dp3"
                 formControlName = "fecha">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          <mat-error>
            Revise la fecha
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Número de Cuenta</mat-label>
            <mat-select
              formControlName = "cuenta">
              <mat-option *ngFor="let cuenta of numeroCuenta" 
                          [value]="cuenta.uid">
                          {{cuenta.banco.nombre}}: {{cuenta.descripcion}} N° {{ cuenta.numero_cuenta }}
              </mat-option>
            </mat-select>
            <mat-error>
              Revise el Número de cuenta
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Motivo Ingreso</mat-label>
          <mat-select
            formControlName = "ingreso">
            <mat-option *ngFor="let ingreso of ingresos" 
                        [value]="ingreso.nombre">
                        {{ingreso.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
              Revise el Motivo
          </mat-error>
      </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descripción Ingreso</mat-label>
            <input matInput
                   formControlName = "detalle">
            <mat-error>
              Revise la Descripción
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Monto Ingreso</mat-label>
          <input matInput
                 type="number"
                 class="example-right-align"
                 placeholder="0"
                 formControlName = "unitario" >
          <span matPrefix>Bs.&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error>
            Revise el Monto del Ingreso
          </mat-error>                 
        </mat-form-field>
  
        </mat-card-content>
      </mat-dialog-content>
        <mat-card-actions>
          <button mat-raised-button
                  color="primary"
                  type="submit">Guardar</button>
        </mat-card-actions>
      </form>
    </mat-card>