/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #424242; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

h1 {
    display: inline-block;
}

h1 + button{
    float: right;
}
.titulo,.titulo + span{
    vertical-align: middle;
}

.matTable {
    width: 100%;
}

.numero-right-align {
    text-align: right;
}

input.numero-right-align::-webkit-outer-spin-button,
input.numero-right-align::-webkit-inner-spin-button {
    display: none;
}

input.numero-right-align {
    -moz-appearance: textfield;
}